body {
    font-family: "Quicksand", sans-serif;
}
* {
    box-sizing: border-box;
}
.header-bg__background--img {
    background-image: url(../img/header-bg-background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1280px;
}
.wrapper {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1280px;
    margin: 0 auto;
}
/*-----HEADER-----*/
.header {
    .header__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo-img {
            margin-top: 40px;
        }
        .header__navbar {
            display: flex;
            align-items: center;
            padding-top: 40px;
            .header__link {
                color: white;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                margin-right: 55px;
                transition: all 0.3s ease;
                &:last-child {
                    margin-right: 0px;
                    border: 2px solid green;
                    padding-top: 8px;
                    padding-bottom: 6px;
                    padding-left: 10px;
                    padding-right: 12px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 12px 2px green;
                    &:hover {
                        border-color: yellow;
                        box-shadow: 0px 0px 12px 2px yellow;
                    }
                }
                &:hover {
                    color: yellow;
                }
            }
        }
    }
}
/*-----BG-----*/
.bg {
    text-align: center;
    color: white;
    .bg__logo {
        font-size: 34px;
        font-weight: bold;
        margin: 0px;
        padding-bottom: 20px;
        padding-top: 255px;
    }
    .bg__text {
        font-size: 14px;
        font-weight: 400;
        margin: 0px;
        padding-bottom: 275px;
    }
    .bg__arrow {
        margin-bottom: 15px;
        cursor: pointer;
        background-color: rgba(207, 207, 14, 0.801);
        padding: 10px;
        border-radius: 50%;
        box-shadow: 1px 1px 20px 5px rgba(207, 207, 14, 0.801);
        transition: all 0.2s ease;
        &:hover {
            background-color: black;
            box-shadow: 0px 0px 8px 3px black;
        }
    }
}
/*-----CHECKBOX-----*/
.checkbox {
    background-color: #f5f6f7;
    height: 145px;
    .checkbox__form {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding-top: 45px;
        .checkbox-flex {
            display: flex;
            .checkbox__input-label {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                .checkbox__input {
                    height: 20px;
                    width: 20px;
                    margin-right: 20px;
                }
                .checkbox__label {
                    padding-right: 40px;
                }
            }
        }
    }
    .checkbox__btn-flex {
        .checkbox__btn {
            height: 50px;
            width: 200px;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 8px;
            border: none;
            background-color: #aa9b77;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: #585858;
            }
        }
    }
}
/*-----MEN-----*/
.men {
    height: 200px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    .men__h1 {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 996px;
            background-color: #c4c4c4;
            top: 50%;
            margin-left: 52px;
        }
    }
}
/*-----CONTENT-----*/
.content__item {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: #aa9b77;
    text-align: right;
    margin-bottom: 17px;
    &-one {
        margin: 0;
    }
    .symbol-one {
        cursor: pointer;
        margin-right: 17px;
    }
    .symbol-two {
        cursor: pointer;
    }
}
.content__item-two {
    display: flex;
    font-weight: bold;
    color: #aa9b77;
    text-align: right;
    margin-bottom: 17px;
    &-one {
        margin: 0;
    }
    .symbol-one {
        cursor: pointer;
        margin-right: 17px;
    }
    .symbol-two {
        cursor: pointer;
    }
}
.content {
    .block__two {
        margin-right: 64px;
        margin-left: 64px;
    }
    .content__blocks {
        display: flex;
        justify-content: center;
    }
    &__block {
        width: 308px;
        height: 380px;
        background-color: #f5f6f7;
        transition: border 0.1s ease;
        border: 6px solid #aa9b7700;
        &:hover {
            border: 6px solid #aa9b77;
            border-radius: 6px;
        }
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &-size {
            font-size: 16px;
            text-transform: uppercase;
            color: #424242;
            margin: 0px;
            cursor: pointer;
            font-weight: bold;
            &-arrow {
                padding-left: 4px;
            }
        }

        .content__block-color {
            display: flex;
        }
        &-blue {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background-color: blue;
        }
        &-yellow {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background-color: yellow;
            margin-left: 5px;
            margin-right: 5px;
        }
        &-black {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background-color: black;
        }
        &-violet {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background-color: #d3a7ac;
            margin-right: 8px;
        }
        &-white {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background-color: white;
        }
    }
    .content__block-center {
        display: flex;
        justify-content: center;
        &-cloth {
            margin-top: 50px;
            height: 200px;
        }
    }
    .content__block-center-cloth-two {
        margin-top: 50px;
        height: 200px;
    }
    .content__block-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        margin-left: 20px;
        margin-right: 20px;
        &-cloth {
            font-size: 18px;
            text-transform: uppercase;
            color: #aa9b77;
            font-weight: bold;
            margin: 0px;
        }
        &-money {
            font-weight: bold;
            font-size: 22px;
            margin: 0px;
        }
    }
}
.woman {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    text-transform: uppercase;
    .woman__h1 {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 950px;
            background-color: #c4c4c4;
            top: 50%;
            margin-left: -1103px;
        }
    }
}
.about {
    background-color: #aa9b77;
    .about__information {
        display: inline-block;
        border: 2px solid #918363;
        margin-top: 60px;
        margin-bottom: 60px;
        align-items: center;
    }
    .about__margin {
        margin-top: 130px;
        display: flex;
        justify-content: center;
    }
    .about__logo {
        &-inner {
            margin: 0px;
            padding-top: 10px;
            padding-bottom: 8px;
            font-size: 24px;
            text-align: center;
            color: #837659;
            text-transform: uppercase;
        }
    }
    &__info {
        &-text {
            margin: 0;
            color: #424242;
            text-align: center;
            font-weight: bold;
            padding-bottom: 25px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}
.twitter {
    background-color: #535253;
    height: 70px;
    &__flex {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }
    &__text {
        color: #fff;
        margin: 0px;
        padding-left: 20px;
    }
}
.footer {
    height: 352px;
    background-color: #424242;
    color: white;
    .footer__flex {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 110px;
        align-items: center;
    }
    &__info {
        width: 320px;
        &-logo {
            font-size: 24px;
            text-transform: uppercase;
            margin: 0px;
            padding-bottom: 20px;
        }
        &-text {
            margin: 0px;
            font-size: 13px;
        }
    }
    .footer__inner {
        &-text {
            margin: 0px;
            padding-top: 10px;
            font-size: 12px;
            text-align: center;
        }
        &-nav {
            font-weight: bold;
            &-link {
                text-transform: uppercase;
                position: relative;
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                padding-left: 6px;
                padding-right: 6px;
                border-left: 2px solid #aa9b77;
                transition: all 0.3s ease;
                &:hover {
                    color: red;
                }
                &:first-child {
                    border-left: none;
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }
            }
        }
    }
}
/*-----@MEDIA-----*/
@media (max-width: 1190px) {
    .men {
        .men__h1 {
            &::after {
                width: 790px;
            }
        }
    }
    .woman {
        display: flex;
        justify-content: center;
        .woman__h1 {
            width: 100%;
            border-top: 2px solid black;
            &::after {
                display: none;
            }
        }
    }
}
@media (max-width: 980px) {
    .men {
        .men__h1 {
            &::after {
                width: 560px;
            }
        }
    }
    .content__blocks {
        flex-wrap: wrap;
    }
    .block__two {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 750px) {
    .checkbox__form {
        align-items: center;
        flex-direction: column;
    }
    .checkbox__btn {
        margin-top: 20px;
    }
    .men {
        .men__h1 {
            &::after {
                width: 340px;
            }
        }
    }
    .footer__flex {
        flex-direction: column;
        .footer__inner {
            padding-top: 20px;
        }
    }
}
@media (max-width: 580px) {
    .header__info {
        flex-direction: column;
        .header__logo-img {
            display: none;
        }
    }
    .bg__arrow {
        display: none;
    }
    .men {
        display: flex;
        justify-content: center;
        .men__h1 {
            width: 100%;
            border-top: 2px solid black;
            &::after {
                display: none;
            }
        }
    }
}
@media (max-width: 440px) {
    .bg {
        .bg__text {
            padding-bottom: 130px;
        }
    }
    .checkbox {
        height: 220px;
    }
    .checkbox__input-label {
        margin-top: 8px;
    }
    .checkbox-flex {
        flex-direction: column;
    }
    .footer__inner-nav {
        flex-direction: column;
    }
    .twitter {
        height: 100px;
    }
}
@media (max-width: 440px) {
    .header__navbar {
        flex-wrap: wrap;
    }
}
